<% include ../header.ejs %> 
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
            <div class="border-head">
              <h3>TABLEAU DE BORD GLOBALE</h3>
            </div>
         
            <div class="container">
              <div>
                <button type="button" class="btn btn-dark">Analyse et action</button>
              </div>
            
                                           
            <form method="POST" action="/creer_nc">
        
                <div class="form-group">
                  <label for="exampleFormControlSelect2">NC remonté par</label>
                    <input type="text" class="form-control" id="matr" name="matricule" >
                   
                </div>
              
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Département</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="departement">
                    <option>RH</option>
                    <option>Admin</option>
                    <option>Classique</option>
                    <option>BPO Almerys</option>
                    <option>BPO Plano</option>
                  </select>                                   
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Site</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2" name="site">
                    <option>Tsiadana</option>
                    <option>Digue</option>
                    <option>Multisites</option>
                   
                  </select>
        
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Nature</label>
                  <select class="form-control" id="natt" name="nature"  oninput="myFunction()">
                    <option>Réclamation client</option>
                    <option>Dysfonctionnement</option>
                    <option>Audit</option>
                 
                  </select>      
                  <p id="demo"></p>               
                </div>
        
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Domaine</label>
                  <div>
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Qualité" name="domaine">
                    <label class="form-check-label" for="inlineCheckbox1">Qualité</label>  
                  </div>
                  <div>
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Continuité d'activité" name="domaine">
                    <label class="form-check-label" for="inlineCheckbox1">Continuité d'activité</label>  
                  </div>
                 
                                                  
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Processus</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2" name="processus">
                    <option value="none" selected disabled hidden> 
                      Choisir une option
                  </option>
                    <option>Management des politiques</option>
                    <option>Management des systèmes</option>
                    <option>Client</option>
                    <option>Planification de la production</option>
                    <option>BPO</option>
                    <option>Patrimonial et dématérialisation</option>
                    <option>Centre de contact</option>
                    <option>contrôle qualité</option>
                    <option>IT</option>
                    <option>Logistique et services généraux</option>
                    <option>Développement et méthode</option>
                    <option>RH</option>
                    <option>Achats</option>
                    <option>Echange de données</option>
                   
                  </select>
        
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Pôle</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2" name="pole">
                    <option>HTP</option>
                    <option>Garanties et traitement particuliers</option>
                    <option>TPS TPC</option>
                    <option>Contentieux</option>
                    <option>CQ Formation</option>
                    <option>Relation clients</option>
                    <option>Be-itys</option>
                    <option>Neocles</option>
                    <option>Plano</option>
                    <option>FILAE</option>
                   
                  </select>
        
                </div>
                
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Traitement/Projet</label>
                    <input type="text" class="form-control" id="matr" name="traitproj"  >
                </div>
                
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Sujet de la NC</label>
                  <label for="exampleFormControlTextarea1"><h6>(synthèse très courte du problème)</h6></label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="sujet"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Date de l'évènement</label>
                <div class="input-group date" data-provide="datepicker">
                  
                  <input class="datepicker" type="date" data-date-format="mm/dd/yyyy" name="datevent">
              </div>
                </div>
                
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Client concerné</label>
                    <input type="text" class="form-control" id="clientc" name="clientcon">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Délai prévu du traitement</label>
                <div class="input-group date" data-provide="datepicker" >
                  
                  <input class="datepicker" type="date"  data-date-format="mm/dd/yyyy"  id="delaii" name="delai" oninput="myFunctionDelai()">
               
              </div>
             
                </div>
                <div cass="form-group">
                  <label for="exampleFormControlSelect1">Statut</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="statut">
                    <option>En attente d'analyse</option>
                    <option>En cours de finalisation</option>
                    <option>En attente validation manager</option>
                    <option>A revoir</option>
                    <option>En attente validation direction</option>
                    <option>Analyse validée-AC en cours</option>
                    <option>AC en cours de vérification</option>
                 
                  </select>                                   
                </div>
                
                
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Pièces jointes</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="piece">
                  </div>
        
                  
            
                <button type="submit" class="btn btn-primary" onclick="myFunctionCliquer()">Enregistrer</button>
                <button type="button" class="btn btn-secondary">Annuler</button>
              </form> 
        
              
            </div>
          
          
        
           
        
           
            <script src="/dependencies/sails.io.js"></script>
            <script src="/js/bootstrap.bundle.js"></script>
            <script src="/js/bootstrap.bundle.min.js"></script>
            <script src="/js/bootstrap.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/jquery-1.11.1.min.js"></script>
            
        
           <script>
        
        
             
               function myFunction() {
          var x = document.getElementById("natt").value;
          if(x=="Audit"||"Dysfonctionnement"){
           $("#clientc").val("INTERNE");
           $("#clientc").prop('disabled', true);
           }
           if(x=="Réclamation client")
           {
            $("#clientc").prop('disabled', false);
            $("#clientc").val("");
           }
          }
        
          function myFunctionDelai(){
            var y = document.getElementById("delaii").value;
            var daty = new Date(y);
            daty.setDate(daty.getDate(y) + 15);
            var a=getEngFormatedDate(daty);
           //alert(a.date);
            //$("#delaii").val((daty).formatDate('mm/dd/yyyy'));
            $("#delaii").val(a.date);
            
        }
           
          
          function getEngFormatedDate(date ) {
            let dd = date.getDate();
            let mm = date.getMonth() + 1;
            let yyyy = date.getFullYear();
            let hh = date.getHours();
            let MM  = date.getMinutes();
            let ss = date.getSeconds();
        
            if(dd < 10) dd = '0' + dd;
            if(mm < 10) mm = '0' + mm;
            if(hh < 10) hh = '0' + hh;
            if(MM < 10) MM = '0' + MM;
            if(ss < 10) ss = '0' + ss;
        
             let results =  {
              date : yyyy + '-' + mm + '-' + dd,
              heure : hh + ':' + MM + ':' + ss
            }
             return results;
          }
             
          function myFunctionCliquer() {
            $("#clientc").prop('disabled', false);
           
          }
               
           </script>      
      
      </section>
      <% include ../footer.ejs %> 










